[submodule "theme"]
	path = theme
	url = https://github.com/vimux/mainroad
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad
[submodule "public"]
	path = public
	url = git@github.com:mazdakn/mazdakn.github.io.git
